.footer__column-link {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  justify-content: center;
  text-decoration: none;
  color: white;
  transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
}

.footer__column-link:hover {
  opacity: 0.5;
}